body {
    line-height:1.25;
    color:#000;
    font-size:16px;
    font-weight:400;
    font-family:Rubik, sans-serif;
    background:#fff;
}
input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel] {
    height:30px;
    padding:0 10px;
    font-size:.875rem;
    border:1px solid #000;
    border-radius:4px;
}
input[type=submit],
input[type=button] {
    height:30px;
    padding:0 10px;
    color:#fff;
    font-size:.75rem;
    border:0;
    border-radius:4px;
    background:#000;
    text-transform:uppercase;
    cursor:pointer;
}
input.error[type=text],
input.error[type=password],
input.error[type=number],
input.error[type=email],
input.error[type=tel] {
    border-color:#f00;
}
form.chat {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
}
form.chat > input[name=message] {
    -webkit-box-ordinal-group:1;
    -moz-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-align-self:auto;
    -ms-flex-item-align:auto;
    align-self:auto;
}
#logs {
    margin:10px 0 0 0;
    padding:10px;
    border:1px solid #ddd;
    border-radius:4px;
}
#logs > .item {
    font-size:.75rem;
}
#logs > .item > b {
    display:inline-block;
    padding:0 5px;
    color:#fff;
    background:#666;
    user-select:none;
    border-radius:4px;
}
#logs > .item:not(:last-child) {
    margin-bottom:5px;
}
#logs > .item.success {
    color:#00f;
}
#logs > .item.error {
    color:#f00;
}
#logs > .item.empty {
    color:#999;
}

header {
    padding:20px;
    background:#eee;
    border-bottom:1px solid #ddd;
}
header > .profile {
    line-height:30px;
}

main {
    padding:20px;
}

h1 {
    margin:0 0 20px 0;
}