<!DOCTYPE html>


{% load static %}


<html lang="ru">


<head>

    <title>WS Test</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <link type="text/css" rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uploader.js' %}"></script>
    {% if request.user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/sign-in.js' %}"></script>
    {% endif %}

</head>


<body>

    <header>
        {% if request.user.is_authenticated %}
            <form class="profile"><input type="submit" value="Sign out" /> {{ request.user.username }}</form>
        {% else %}
            <div class="auth">
                <form>
                    <input type="text" name="username" placeholder="Login" autofocus="autofocus" /><input type="password" name="password" placeholder="Password" /><input type="submit" value="Sign in" /> <a href="{% url 'base:sign-up' %}">sign up</a>
                </form>
            </div>
        {% endif %}
    </header>

    <main>
        {% block 'content' %}{% endblock 'content' %}
    </main>

</body>


</html>